* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold-Italic.woff2") format("woff2"), url("../fonts/Lato-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.title {
  cursor: pointer;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-decoration: underline;
}

#app {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#app .homework-list {
  width: 100%;
  max-width: 700px;
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  padding: 15px;
  display: none;
}

#app .homework-list.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#app .homework-list .homework {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#app .homework-list .homework__title {
  cursor: pointer;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#app .homework-list .homework .task-wrapper {
  position: relative;
  width: 100%;
  transition: all 200ms linear;
  overflow: hidden;
}

#app .homework-list .homework .task-wrapper .homework__tasks {
  position: absolute;
  width: 100%;
  left: 10px;
  top: 0;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#app .homework-list .homework .task-wrapper .homework__tasks .theory .theory-title {
  text-decoration: underline;
  font-size: 20px;
}

#app .homework-list .homework .task-wrapper .homework__tasks .theory .question {
  margin-top: 10px;
  background-color: pink;
  border-radius: 5px;
}

#app .homework-list .homework .task-wrapper .homework__tasks .task {
  margin-top: 10px;
  background-color: yellow;
  border-radius: 5px;
}

#app .lesson-list {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
  padding: 15px;
  display: none;
}

#app .lesson-list.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#app .lesson-list .lesson {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#app .lesson-list .lesson__description {
  cursor: pointer;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#app .lesson-list .lesson__description .description__number {
  white-space: nowrap;
}

#app .lesson-list .lesson__description .description__title {
  margin-left: 5px;
}

#app .lesson-list .lesson .sublessons-wrapper {
  position: relative;
  width: 100%;
  transition: all 200ms linear;
  overflow: hidden;
}

#app .lesson-list .lesson .sublessons-wrapper .sublessons {
  position: absolute;
  width: 100%;
  left: 10px;
  top: 0;
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#app .lesson-list .lesson .sublessons-wrapper .sublesson {
  background-color: pink;
  padding: 5px;
  border-radius: 5px;
  text-align: start;
}

#app .lesson-list .lesson .sublessons-wrapper .sublesson:not(:first-child) {
  margin-top: 10px;
}