@mixin flex($justify, $align, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-family-lato-700-italic {
  font-family: Lato;
  font-weight: 700;
  font-style: italic;
}

@mixin font-family-lato-700 {
  font-family: Lato;
  font-weight: 700;
  font-style: normal;
}

