@import "reset";
@import "fonts";
@import "variables";
@import "mixin";

.title {
  cursor: pointer;
  text-align: center;
  @include font-family-lato-700;
  font-size: 40px;
  text-decoration: underline;
}

#app {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  overflow-x: hidden;
  @include flex(flex-start, flex-start);
  .homework-list {
    width: 100%;
    max-width: 700px;
    @include font-family-lato-700;
    padding: 15px;
    display: none;
    &.show {
      @include flex(flex-start, flex-start, column);
    }
    .homework {
      width: 100%;
      margin-top: 10px;
      @include flex(flex-start, flex-start, column);
      &__title {
        cursor: pointer;
        width: 100%;
        border: 3px solid black;
        border-radius: 5px;
        padding: 15px;
        @include flex(flex-start, center);
      }
      .task-wrapper {
        position: relative;
        width: 100%;
        transition: all 200ms linear;
        overflow: hidden;
        .homework__tasks {
          position: absolute;
          width: 100%;
          left: 10px;
          top: 0;
          @include font-family-lato-700-italic;
          margin-top: 10px;
          @include flex(flex-start, flex-start, column);
          .theory {
            .theory-title {
              text-decoration: underline;
              font-size: 20px;
            }
            .question {
              margin-top: 10px;
              background-color: pink;
              border-radius: 5px;
            }
          }
          .task {
            margin-top: 10px;
            background-color: yellow;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .lesson-list {
    width: 100%;
    max-width: 700px;
    @include flex(flex-start, flex-start, column);
    @include font-family-lato-700;
    padding: 15px;
    display: none;
    &.show {
      @include flex(flex-start, flex-start, column);
    }
    .lesson {
      width: 100%;
      margin-top: 10px;
      @include flex(flex-start, flex-start, column);
      &__description {
        cursor: pointer;
        width: 100%;
        border: 3px solid black;
        border-radius: 5px;
        padding: 15px;
        @include flex(flex-start, center);
        .description__number {
          white-space: nowrap;
        }
        .description__title {
          margin-left: 5px;
        }
      }
      .sublessons-wrapper {
        position: relative;
        width: 100%;
        transition: all 200ms linear;
        overflow: hidden;
        .sublessons {
          position: absolute;
          width: 100%;
          left: 10px;
          top: 0;
          @include font-family-lato-700-italic;
          margin-top: 10px;
          @include flex(flex-start, flex-start, column);
        }
        .sublesson {
          background-color: pink;
          padding: 5px;
          border-radius: 5px;
          text-align: start;
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
